@{
    ViewData["Title"] = "PasswordChange";
}
@model PasswordChangeModel

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Şifre Yenileme</h2>
                    @if (TempData["Successed Message"] != null)
                    {
                        <div class="alert alert-info" role="alert">
                            @TempData["Successed Message"]
                        </div>
                    }
                    <form asp-controller="Member" asp-action="PasswordChange" method="post">
                        <div class="mb-3">
                            <label for="OldPassword" class="form-label">Eski Şifre</label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="PasswordNew" class="form-label">Yeni Şifre</label>
                            <input asp-for="PasswordNew" class="form-control">
                            <span asp-validation-for="PasswordNew" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="PasswordNewConfirm" class="form-label">Yeni Şifre Tekrar</label>
                            <input asp-for="PasswordNewConfirm" class="form-control">
                            <span asp-validation-for="PasswordNewConfirm" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Şifre Değiştir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
